:root {
    --linear-text-color: linear-gradient(90deg, rgba(253,99,63,1) 0%, rgba(238,69,87,1) 100%);
    --text-color: white;
    --text-hover: rgb(253,99,63);
    --gradient: linear-gradient(90deg, rgba(26,0,27,1) 0%, rgba(82,2,79,1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--gradient);
    color: var(--text-color);
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;
}

.highlight {
    background: -webkit-linear-gradient(#fd633f, #ee4557);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight-w{
    background: -webkit-linear-gradient(#FD7452, #FE4862);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}